@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900');
font-family: 'Montserrat', sans-serif;

* {
    margin: 0;
    padding: 0;
}

body:after{
    position:absolute; z-index:-1;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

section {
    position: relative;
    padding: 2% 15%;
    box-sizing: border-box;
}

#underlineclosedopen {
    margin: auto;
    width: 50%;
    height: 3px;
    color: grey;
    display: none
}

@media only screen and (max-width:768px) {
    section {
        padding: 5% 15%;
        margin-top: 5%;
    }
    .custom-columns {
        flex-direction: column-reverse;
        display: flex;
    }
    #toiletdata h1 {
        white-space: normal !important;
    }
    #underlineclosedopen {
        display: block;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    #quotes {
      margin-top: 20%;
      height: 45%;
    }

    h1 {
        font-size: 3.2em !important;
        font-weight: 600;
    }

    #quote {
      font-size: 1.4em !important;
    }

    h2 {
        font-size: 1em !important;
    }
    #header, .footer {
      margin-top: 0;
    }
}

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/loading_loop.gif) center no-repeat #fff;
    /*background: center no-repeat #fff;*/
    transition: background-image 0.1s ease;
    background-size: 60vw;
}

.se-pre-con2 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
    background: center no-repeat #fff;
    transition: background-image 0.1s ease;
    background-size: 60vw;
}

.se-pre-con-text {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

div #main-content {
    display: none;
}

#logo {
    background-image: url('../img/logo.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 5vh;
}

#logoMobile {
    background-image: url('../img/logo_mobile.svg');
    display: none;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 5vh;
}

@media (max-width:480px) {
    #logo {
        display: none;
    }
    #logoMobile {
        display: block;
    }
}

.nav-toggle span {
    background-color: #FFF;
}

.logo-text {
    padding: 10%;
    color: white;
}

.title {
    font-weight: 700 !important;
}

.hero.is-fullheight {
    min-height: 100%;
    max-height: 100%;
}

h1 {
    font-size: 4.2em;
    font-weight: 600;
    line-height: 1.2em;
}

h2 {
    font-size: 1.4em;
}

p {
    padding-top: 2.5%;
}

.adline {
    font-size: 3em;
}

.statuscolor {
    background-color: white;
    transition: all 0.5s ease;
}

.statussize h1 {
    font-size: 13vw;
    padding-bottom: 3px;
}

.statussize {
    position: static;
}

.colorwhite {
    color: white !important;
}

#average {
    width: 100%;
    padding-top: 3%;
}

.statusmessage {
    transition: all 0.5s ease;
}

#toiletdata {
    text-align: left;
    background-color: #AEF3FC;
    /*background-image: url('../img/bg1.jpg');*/
    /*background-image: url('../img/bathroom.svg');*/
    background-position: 75%;
    background-size: 80vh;
    background-repeat: no-repeat;
    margin-top: 2.5%;
    color: white;
    padding-top: 10%;
    padding-bottom: 10%;
    max-width: 100%;
    /*position: relative;*/
}

#toiletdata h1 {
    white-space: nowrap;
}

#watersavings {
    /*position: absolute;
    /*padding-top: 20vh;*/
    /*top: 25%;*/
}


/*#waternumbers {
  white-space: nowrap;

}

#papernumbers {
  white-space: nowrap;

}*/

#papersavings {
    padding-top: 10%;
}

.statusmessage {
    font-size: 2.4em;
}

.toptext {
    font-weight: 500 !important;
    text-align: left !important;
}

.topdescription {
    margin-top: 10%;
}

.topdescriptiontext {
    color: #fff;
}

#header {}

#scrolltolearntext {
    text-align: center;
    color: #fff;
    font-size: 1.25rem;
    display: table-cell;
    vertical-align: bottom;
}

#elapsedtime {
    font-weight: 300 !important;
}

.ct-label {
    -webkit-transform: rotate(-40deg);
}

.chartWrapper {
    height: 45vh;
    /*border: 1px black solid;*/
    resize: both;
    width: 100%;
}

.chartWrapper::-webkit-scrollbar {
    display: none;
}

.chartWrapper>div {
    min-height: 100%;
}

.chartwrapperlesswidth {
    height: 30%;
}

.underline {
    width: 30%;
    height: 4px;
    margin-top: -1%;
}

.underline_big {
    width: 100%;
    height: 2px;
    /*margin-top: -1%;*/
}

.big_headline {
    font-size: 2.0em;
    font-weight: 600;
}

#intervals {
    padding-bottom: 5%;
}

.ct-chart-donut .ct-series-a .ct-slice-donut {
    /*stroke: rgba(46, 204, 113, 0.5);*/
    stroke-width: 20px;
    fill: transparent;
}


/*make b hidden*/

.ct-chart-donut .ct-series-b .ct-slice-donut {
    stroke: #efefef;
    fill: transparent;
    opacity: 0.0;
}

.ct-chart-donut .ct-fill-donut .ct-slice-donut {
    stroke: #efefef;
    fill: transparent;
    opacity: 1;
}

.openPercentage {
    font-weight: 600;
    font-size: 2em;
}

#chart-e1 {
    height: 40vh;
}

.closedopenheadline {
    text-align: center !important;
}

.underlineCenter {
    text-align: center;
    width: 100%;
}

#openclosedratio {
    padding-bottom: 2%;
    margin-bottom: 5%;
}

.landingpage2 {
    display: none;
}

#scroll {
    width: 100%;
    position: absolute;
    text-align: center;
    font-weight: 600;
    font-size: 1.4em;
    color: white;
    bottom: 10%;
    left: 0;
    animation: bounceupdown 5s infinite;
    transition-timing-function: ease;
}

@keyframes bounceupdown {
    0% {
        bottom: 4%;
    }
    50% {
        bottom: 5%;
    }
    100% {
        bottom: 4%;
    }
}


/*.flexOverwrite {
    align-items: stretch !important;
    margin-top: 1vh;
}*/

.graphtextwrapper {
    margin-top: -3%;
}

.graphtextwrapper p {
    padding-bottom: 5%;
}

#scroll:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

#scroll:hover:after {
    width: 10vw;
    background: white;
}

.clickongraph {
    padding-top: 30%;
}

#graphmenu1 {
    display: none;
}

#graphmenu2 {
    /*padding-right: 5%;
  padding-left: 5%;*/
    display: none;
}

.graphmenuwrapper {
    /*width: 100%;*/
    text-align: right;
    color: #626262;
    height: 5vh;
    width: 100%;
}

#datasavings {
    text-align: left;
    background-color: #101423;
    color: white;
    padding-top: 10%;
    padding-bottom: 10%;
    max-width: 100%;
}

.centervertically {
    align-items: center;
    justify-content: center;
}

.coloredbox {
    width: 15%;
    height: 5px;
}

#hourly {}

.morepadding {
    padding: 2rem;
}

#hourtooltip {
    font-weight: bold;
    font-family: Montserrat
}

#since {
    padding-top: 10%;
}

#quote {
    display: none;
    text-align: center !important;
    font-size: 1.4em;
    width: 100%;
}

#author {
    padding-top: 2.5%;
    text-align: center;
}

#author::before {
  content: "– ";
}

#quotes {
  margin-top: 10%;
  height: 30%;
}

.footer p {
  padding-top: 0%;
}

.footer {
  padding-bottom: 5%;
}
